.idea/
.vscode/
node_modules/
build/
temp/
.env
coverage
ormconfig.json
dist
certs/

data-source.ts
docker-compose.yml

uploads/*
!uploads/.gitkeep

.env
.env.local
ormconfig.json
ormconfig.js
ormconfig.ts

*.code-workspace

*.tsbuildinfo
