.idea/
.vscode/
node_modules/
build/
temp/
.env
coverage
ormconfig.json
dist

data-source.ts

uploads/*
!uploads/.gitkeep

.env
.env.local
ormconfig.json
ormconfig.js
ormconfig.ts

*.code-workspace

*.tsbuildinfo
